
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="#/ng_ui_bootstrap.html">BĐS</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#/ng_ui_bootstrap.html">Danh sách</a>
		</li>
	</ul>
	<div class="page-toolbar">
		<div class="btn-group pull-right">
			<button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" dropdown-menu-hover data-delay="1000" data-close-others="true">
			Actions <i class="fa fa-angle-down"></i>
			</button>
			<ul class="dropdown-menu pull-right" role="menu">
				<li>
					<a href="#">
					<i class="icon-user"></i> New User </a>
				</li>
				<li>
					<a href="#">
					<i class="icon-present"></i> New Event <span class="badge badge-success">4</span>
					</a>
				</li>
				<li>
					<a href="#">
					<i class="icon-basket"></i> New order </a>
				</li>
				<li class="divider">
				</li>
				<li>
					<a href="#">
					<i class="icon-flag"></i> Pending Orders <span class="badge badge-danger">4</span>
					</a>
				</li>
				<li>
					<a href="#">
					<i class="icon-users"></i> Pending Users <span class="badge badge-warning">12</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- END PAGE HEADER-->

<!-- BEGIN MAIN CONTENT -->


<div class="row">
	<div class="col-md-12">
		
		<!-- BEGIN: ACCORDION DEMO -->
		<div class="portlet light bg-inverse">
			<div class="portlet-title">
				<div class="caption font-green-sharp">
					<i class="icon-settings font-green-sharp"></i>
					<span class="caption-subject bold uppercase">Accordion</span>
					<span class="caption-helper">ui.bootstrap.accordion</span>
				</div>
				<div class="tools">
					<a href="" class="collapse">
					</a>
					<a href="#portlet-config" data-toggle="modal" class="config">
					</a>
					<a href="" class="reload">
					</a>
					<a href="" class="fullscreen">
					</a>
					<a href="" class="remove">
					</a>
				</div>
			</div>
			<div class="portlet-body form">

				<div class="row">
					<div class="form-group">
						<label class="control-label col-md-2">Username #2</label>
						<div class="col-md-10">
							<div class="input-icon right">
								<input type="text" class="form-control" name="username1" id="username2_input">
							</div>
							
						</div>
					</div>
				</div>	

			</div>
		</div>		
		<!-- END: ACCORDION DEMO -->

		
	</div>
</div>

